.flex-center{
  display: flex !important;
  align-items: center !important
}

.p-30{
    padding: 30px !important;
}

.border-t{
  border-top: 1px solid lightgray;
}

.border-b{
    border-bottom: 1px solid lightgray;
}

.nav-bar-c{
  margin: 0 !important;
  background-color: white !important;
}

.carousel-container {
  height: 250px;
  position: relative;
}
@media (max-width: 850px) {
  .carousel-container {
    width: 95%;
    height: 250px;
    
  }
  .hls_sol .gallery-item {
    display: inline-block;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 250px;
    width: 50% !important;
  }
  .child-wrapper{
    width:50% !important;
 }
 
 .child:nth-child(1),
 .child:nth-child(2){ 
   border-bottom: 1px solid black !important;
 }
 .child:nth-child(5),
 .child:nth-child(6){
   border-top: 1px solid black !important;
 }
 .child:nth-child(1),
 .child:nth-child(3),
 .child:nth-child(5) { 
   border-right: 1px solid black !important;
 }
 .child:nth-child(3) {
   border-left: none!important;
   border-bottom: none!important;
 }
 .child:nth-child(6){
  border-left: none!important;
 }
.child:nth-child(4) {
  border-right: none!important;
}

.article-txt-wr{
  width: 50% !important;
}
.article-img-wr{
  width: 50% !important;
}

.greeting-txt-wr{
  width: 50% !important;
}

.greeting-img-wr{
  width: 50% !important;
}

}

.inner-carousel {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .card-container {
    width: 184px;
    height: 250px;
  }
  .hls_sol .gallery-item {
    display: inline-block;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 250px;
    width: 100% !important;
  }
  .child-wrapper{
    width:100% !important;
 }
 
 .child:nth-child(1),
 .child:nth-child(2),
 .child:nth-child(3),
 .child:nth-child(4),
 .child:nth-child(5),
 .child:nth-child(6){ 
   border-bottom: 1px solid black !important;
   border-top: none !important;
   border-left: none !important;
   border-right: none !important;
 }
 .article-txt-wr{
  width: 100% !important;
}
.article-img-wr{
  width: 100% !important;
}

.greeting-txt-wr{
  width: 100% !important;
}

.greeting-img-wr{
  width: 100% !important;
}
 
}

.navigation button {
  position: absolute;
  top: 50%;
  border: none;
  cursor: pointer;
}
.navigation .prev {
  left: 0;
  opacity: 0.5;
}
.navigation .next {
  right: 0;
  opacity: 0.5;
}


.hls_sol .gallery-item {
	display: inline-block;
	float: left;
	text-align: center;
	overflow: hidden;
	position: relative;
	height: 250px;
  width: 25%;
}

.hls_sol .gallery-item img {
	height: 100%;
  width: 100%;
}

.hls_sol .gallery-item:hover img {
	transform: scale(1.1);
}

.hls_sol .gallery-item img {
	transition: transform 0.5s ease;
}

.hls_sol .hls_sol_data {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	transition: 0.3s ease-in-out;
	background: rgba(0,0,0,0.28);
	visibility: hidden
}
.hls_sol .gallery-item:hover .hls_sol_data {
	background: rgba(255,0,4,0.46);
	transition: 0.3s ease-in-out;
	visibility: visible
}

.hls_data {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 60px 35px 60px 35px;
}

.hls_data a {
	display: block;
}

.hls_title {
	text-align: center;
	font-size: 15px;
	border-bottom: 2px solid rgb(218, 218, 218);
	padding: 10px 0;
	margin: 10px 0;
	color: #fff;
  text-decoration: none;
}
.hls_title:hover {
	color: #fff;
}
.hls_sol_data h3 {
	color: #fff;
	transition: 0.5s
}
.hls_sol_data:hover h3 {
	transition: 0.5s ease;
	margin-top: 30px;
}
.btn-pro {
	border-radius: 0;
	color: #222;
	background: #fff;
	display: inline-block !important;
	float: right;
}
.btn-pro:hover {
	color: #fff;
	background: #222;
}
.sec_title {
	text-align: center;
	margin: 30px 0 30px;
}
.hls_data {
	left: unset;
	right: -310px;
	transition: 1s ease
}
.hls_sol_data:hover .hls_data {
	left: 0;
	right: 0;
	transition: 1s ease
}

.child-wrapper{
   width:33%;
}

.child:nth-child(1),
.child:nth-child(2),
.child:nth-child(3) {
  border-bottom: 1px solid black;
}

.child:nth-child(1),
.child:nth-child(4){
  border-right: 1px solid black;
}

.child:nth-child(3),
.child:nth-child(6){
  border-left: 1px solid black;
}

.article-txt-wr{
  width: 70%;
}
.article-img-wr{
  width: 30%;
}

.greeting-txt-wr{
  width: 50%;
}

.greeting-img-wr{
  width: 50%;
}

